<ul class="social-links">
  <li><a rel="me" href="https://www.linkedin.com/in/fmarslan" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a></li>
  <li><a rel="me" href="https://github.com/fmarslan" title="GitHub"><i class="fa-brands fa-github"></i></a></li>
  <li><a rel="me" href="https://fmarslan.medium.com" title="Medium"><i class="fa-brands fa-medium"></i></a></li>
  <li><a rel="me" href="https://profile.codersrank.io/user/fmarslan" title="CodersRank"><i class="fa-solid fa-code"></i></a></li>
  <li><a rel="me" href="{{ '/feed.xml' | relative_url }}" title="RSS Feed"><i class="fa-solid fa-rss"></i></a></li>
</ul>
