@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


$primaryColor: #012c32;
$mixColor: #fdfdfd;
$secondaryColor:  #0392a5;
$descColor: mix($primaryColor,$mixColor,30);

body{
    background-color:mix($mixColor,$primaryColor,95);
    div.identity{
        height:20em;
        *{
            float:left;
            display:block;
        }
        div.picture{
            background-color:mix($mixColor,$primaryColor,70);
            border-radius: 100%;
            width: 15em;
            height: 15em;
            border: 9px solid #012c32;
            padding: .3em;
            display: block;
            margin: 0 0 auto;
            background-image: url(/assets/profile.png);
            background-size: 140%;
            background-repeat: no-repeat;
            background-position-x: 1%;
            background-position-y: 50%;
            position: static;
            &:before{
                content: " ";
                position: absolute;
                background-color: $primaryColor;
                width: 100%;
                height: 8em;
                left: 0px;
                margin-top: 4em;
                z-index: -1;
                background-image: url(/assets/svg/background.svg);
                background-repeat: no-repeat;
                background-position-x: 0;
                background-position-y: -19em;
                background-size: auto;
                background-attachment: fixed;
                background-blend-mode: unset;
                box-shadow: inset 0px -13px 17px -20px $mixColor;
            }
            &:after{
                content:"";
            }
        }
        h2.name{
            margin-top: 4em;
            color: $mixColor;
            margin-left: .6em;
        }
        h4.title{
            color: $mixColor;
            margin-left: 1em;
            margin-top: -1em;
        }
        .social-links{
            float: right;
            margin-top: 0em;
           .social-media-list{
                margin-right:0px;
                border:none;
                padding:0px;
                border:none;
                li{
                    content:"";
                    a{
                        .svg-icon.grey{
                            color: $mixColor;
                        }
                        padding:0px;
                        border:none;
                        &:hover{
                            border:none;
                        }
                    }
                }
            }
        }
    }
    .posts{
        margin-top: 2em;
        border-top: 1px solid #ccc;
        padding-top: 2em;
        &:before{
            content: "Notes to Myself:";
            margin-top: -3em;
            display: block;
            margin-bottom: 1em;
            font-size: 1.8em;
            color:  mix($primaryColor,$mixColor,40);
            font-family: 'Damion', cursive;
        }
    }
    ul.post-list{
        li{
            margin-bottom:.2em;
            margin-bottom: 1em;
            box-shadow: 0px 1em 0.2em -1em #bbb;
            padding-bottom: .3em;
            .post-meta {
                font-size: .8em;
                color: $descColor;
                font-style: italic;
                margin-right: .3em;
                width: 6em;
                &:before{
                    content:"";
                }
                &:after{
                    content:"";
                }
            }
            .categories{
                content:"";
                &.csharp{
                    content:"";
                }
                &.java{
                    content:"";
                }
                &.linux{
                    content:"";
                }
                &.windows{
                    content:"";
                }
                &.javascript{
                    content:"";
                }
                &.default{
                    content:"";
                }
            }
            h3{
                margin-bottom: .2em;
                font-size:1em;
                a.post-link{
                    font-size: 1em;
                    color: $secondaryColor;
                    text-decoration: none;
                    &:before{
                        content:" ";
                    }
                    .icon{
                        width: 1em;
                        height: .9em;
                        color: transparent;
                        display: inline-block;
                        line-height: 1em;
                        vertical-align: middle;
                    }
                    &:visited{
                        color: mix($primaryColor,$mixColor,70);
                        .icon{
                            color: mix($primaryColor,$mixColor,50);
                        }
                    }
                }
            }
            div.excerpt{
                font-size:.8em;
                font-style: italic;
                color:mix($primaryColor,$mixColor,50);
                text-align: justify;
            }
        }
    }
    .content{
        text-align: justify;
    }
    .page-content{
        pre, code{
            border:none;
            background:transparent;
        }
        pre{
            &:not(.highlight){
               background-color:mix($mixColor,$primaryColor,10);
               background-color:opacify(mix($mixColor,$primaryColor,10),.5);
               border: 1px solid darken(mix($mixColor,$primaryColor,10),10);
               color: white;
            }
            margin: 0px !important;
            &::-webkit-scrollbar {
              width: 5px;
              height: 5px;
            }
            &:hover{
                &::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
                }
            }
           &::-webkit-scrollbar-button {
              width: 0px;
              height: 0px;
            }
           &::-webkit-scrollbar-thumb {
              background: darken($secondaryColor,8);
              border: 0px none #ffffff;
              border-radius: 0px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background:  darken($secondaryColor,4);
            }
            &::-webkit-scrollbar-thumb:active {
              background:  darken($secondaryColor,4);
            }
            &::-webkit-scrollbar-track {
              background: transparent;
              border: 0px none #ffffff;
              border-radius: 0px;
            }
            &::-webkit-scrollbar-track:hover {
              background: transparent;
            }
            &::-webkit-scrollbar-track:active {
              background: transparent;
            }
            &::-webkit-scrollbar-corner {
              background: transparent;
            }
        }
        div.highlight ,.highlighter-rouge div.highlight{
           background-color:mix($mixColor,$primaryColor,10);
           background-color:opacify(mix($mixColor,$primaryColor,10),.5);
           border: 1px solid darken(mix($mixColor,$primaryColor,10),10);
           color: white;
           pre.highlight{
               background-color:transparent;
           }
        }
    }
    
    header.site-header{
        background-color: $primaryColor;
        box-shadow: 0px 1px 5px -2px $primaryColor;
        border: none;
        background-image: url(/assets/svg/background.svg);
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: -42em;
        background-size: auto;
        background-attachment: fixed;
        background-blend-mode: unset;
        .site-title, .site-title:visited, .site-title:hover, .site-title:active{
            font-family: 'Yellowtail', cursive;
            text-decoration: none;
            color: white;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
        }
        .search-box{
            width: 20em;
            float: right;
            border: none;
            line-height:1em;
            td, table{
                border:none;
                padding:0px;
                margin:0px;
            }
            .gsc-control-cse{
                padding: 0px;
                border: none;
                background: none;
                form.gsc-search-box{
                    margin: 0px;
                    border: none;
                    table.gsc-search-box{
                        margin: 0px;
                        border: none;
                        td.gsc-search-button{
                            padding: 1em 0;
                            button.gsc-search-button{
                                border: 1px solid darken($secondaryColor,30);
                                background-color:$secondaryColor;
                            }
                        }
                        td.gsib_b{
                            padding:0px;
                        }
                        td.gsib_b{
                            padding-left: 1em;
                        }
                        td.gsc-input{
                           padding: 1em .5em 1em 0; 
                            border: none;
                            div.gsc-input-box{
                                border: 1px solid darken($primaryColor,30);
                                background-color: mix($primaryColor,$mixColor,10);
                                table.gsc-input{
                                    margin:0px;
                                    border: none;
                                    input.gsc-input{
                                        background-color: mix($primaryColor,$mixColor,10) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer.site-footer{
        background-color: mix($primaryColor,$mixColor,2);
        border-top:1px solid mix($primaryColor,$mixColor,20);
        background-image: url(/assets/svg/footer.svg);
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: 20em;
        background-size: 100%;
        background-attachment: fixed;
        background-blend-mode: normal;
        padding: .5em;
        position: relative;
        .credits{
            position: absolute;
            right: .5em;
            bottom: .5em;
            ul{
                content:"";
                li{
                    float: left;
                    padding: 0 .5em;
                    list-style: none;
                    font-size: .7em;
                    &:first-child{
                        border-right: 1px solid mix($primaryColor,$mixColor,50);
                    }
                    a{
                        color: $primaryColor;
                    }
                }
            }
        }
        .footer-col{
            margin-bottom:0em;
        }
        .contact-list{
            float: right;
            font-size: .8em;    
            *{
                content:"";
            }
            .p-name{
                font-family: 'Yellowtail', cursive;
                padding-right: 1em;
                margin-right: 1em;
                border-right: 1px solid #012c32;
                font-size: 1.2em;
            }
            .p-email{
                content:"";
                .u-email{
                    content:"";
                }
            }
        }
        .social-media-list{
            display:none;
            margin-right:0px;
            border:none;
            padding:0px;
            li a:hover{
                border:none;
            }
        }
    }
    .highlight {
          .c     { color: #545454; font-style: italic } // Comment
          .err   { color: #f07178; background-color: #e3d2d2 } // Error
          .k     { color: #89DDFF; font-weight: bold } // Keyword
          .o     { font-weight: bold } // Operator
          .cm    { color: #545454; font-style: italic } // Comment.Multiline
          .cp    { color: #545454; font-weight: bold } // Comment.Preproc
          .c1    { color: #545454; font-style: italic } // Comment.Single
          .cs    { color: #545454; font-weight: bold; font-style: italic } // Comment.Special
          .gd    { color: #000; background-color: #fdd } // Generic.Deleted
          .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
          .ge    { font-style: italic } // Generic.Emph
          .gr    { color: #f07178 } // Generic.Error
          .gh    { color: #999 } // Generic.Heading
          .gi    { color: #000; background-color: #dfd } // Generic.Inserted
          .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
          .go    { color: #888 } // Generic.Output
          .gp    { color: #555 } // Generic.Prompt
          .gs    { font-weight: bold } // Generic.Strong
          .gu    { color: #aaa } // Generic.Subheading
          .gt    { color: #f07178 } // Generic.Traceback
          .kc    { font-weight: bold } // Keyword.Constant
          .kd    { font-weight: bold } // Keyword.Declaration
          .kp    { font-weight: bold } // Keyword.Pseudo
          .kr    { font-weight: bold } // Keyword.Reserved
          .kt    { color: #FFCB6B; font-weight: bold } // Keyword.Type
          .m     { color: #F78C6C } // Literal.Number
          .s     { color: #C3E88D } // Literal.String
          .na    { color: #008080 } // Name.Attribute
          .nb    { color: #EEFFFF } // Name.Builtin
          .nc    { color: #FFCB6B; font-weight: bold } // Name.Class
          .no    { color: #008080 } // Name.Constant
          .ni    { color: #800080 } // Name.Entity
          .ne    { color: #900; font-weight: bold } // Name.Exception
          .nf    { color: #82AAFF; font-weight: bold } // Name.Function
          .nn    { color: #555 } // Name.Namespace
          .nt    { color: #FFCB6B } // Name.Tag
          .nv    { color: #EEFFFF } // Name.Variable
          .ow    { font-weight: bold } // Operator.Word
          .w     { color: #EEFFFF } // Text.Whitespace
          .mf    { color: #F78C6C } // Literal.Number.Float
          .mh    { color: #F78C6C } // Literal.Number.Hex
          .mi    { color: #F78C6C } // Literal.Number.Integer
          .mo    { color: #F78C6C } // Literal.Number.Oct
          .sb    { color: #C3E88D } // Literal.String.Backtick
          .sc    { color: #C3E88D } // Literal.String.Char
          .sd    { color: #C3E88D } // Literal.String.Doc
          .s2    { color: #C3E88D } // Literal.String.Double
          .se    { color: #EEFFFF } // Literal.String.Escape
          .sh    { color: #C3E88D } // Literal.String.Heredoc
          .si    { color: #C3E88D } // Literal.String.Interpol
          .sx    { color: #C3E88D } // Literal.String.Other
          .sr    { color: #C3E88D } // Literal.String.Regex
          .s1    { color: #C3E88D } // Literal.String.Single
          .ss    { color: #C3E88D } // Literal.String.Symbol
          .bp    { color: #999 } // Name.Builtin.Pseudo
          .vc    { color: #FFCB6B } // Name.Variable.Class
          .vg    { color: #EEFFFF } // Name.Variable.Global
          .vi    { color: #EEFFFF } // Name.Variable.Instance
          .il    { color: #F78C6C } // Literal.Number.Integer.Long
        }
}
@media only screen and (max-width: 768px) {
    body{
        div.identity{
            height:auto;
        *{
            float:unset;
            margin:auto 0;
        }
        div.picture{
           margin: auto;
        }
        h2.name{
            margin: .3em 0 auto;
            color: $primaryColor;
            text-align: center;
        }
        h4.title{
            color: mix($primaryColor,$mixColor,30);
            margin: 0 auto;
            text-align: center;
        }
        .social-links{
            float: unset;
            margin-top: 0em;
           .social-media-list{
                margin: auto;
                margin: auto .5em;
                text-align: center;
                li{
                    display: inline-block;
                    margin: 1em .5em;
                    a{
                        .svg-icon.grey{
                            background-color: mix($primaryColor,$mixColor,70);
                            font-size: 2em;
                            color: #fdfdfd;
                            padding: .3em;
                            box-shadow: 0px 0px 1px 0px $primaryColor;
                        }
                        padding:0px;
                        border:none;
                        &:hover{
                            border:none;
                        }
                    }
                }
            }
        }
    }
        footer.site-footer .credits{
            position: relative;
            right: .5em;
            bottom: .5em;
            margin: .8em auto;
            display: table;
        }
    }
}
